<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cmput301w19t18.rent_a_book">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:windowSoftInputMode="adjustNothing"
        android:theme="@style/AppThemeNoBar">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SearchResultsActivity"
            android:exported="true"></activity>
        <activity android:name=".HomeActivity"
            android:exported="true"></activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".PickGenrePreference"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".NewBookActivity"
            android:exported="true"></activity>
        <activity android:name=".SuccessfulSignupActivity"/>

    </application>

</manifest>